dir=$(readlink -f .)

export SB_HOME=$dir
export PATH=${SB_HOME}/bin:${PATH}
export SOPS_AGE_RECIPIENTS=age1ke62f2f9nsk22ldh2tpyaqj39sc979dqgrjfk7zyal9lvx0h7vyqvlzrqk
export SOPS_AGE_KEY_FILE=${dir}/age-keys.txt
export KUBECONFIG=${dir}/kube-config.dec.yaml
export AWS_PROFILE=stochasticbytes
export DNSIMPLE_TOKEN=$(yq e ".dnsimple.api_token" secrets.dec.yaml)
export SUPERBOLIDE_DISCORD_TOKEN=$(yq e ".discord_tokens.superbolide" secrets.dec.yaml)
export AURIELLE_DISCORD_TOKEN=$(yq e ".discord_tokens.aurielle" secrets.dec.yaml)
export OPENAI_TOKEN=$(yq e ".openai_token" secrets.dec.yaml)
export TIKTOKEN_CACHE_DIR=tmp
export SB_REGISTRY=registry.cjbotta.ro
export COMPOSE_FILE=${dir}/docker-compose.yml