dir=$(readlink -f .)

export SOPS_AGE_RECIPIENTS=age1ke62f2f9nsk22ldh2tpyaqj39sc979dqgrjfk7zyal9lvx0h7vyqvlzrqk
export SOPS_AGE_KEY_FILE=${dir}/age-keys.txt
export KUBECONFIG=${dir}/kube-config.dec.yaml
export AWS_PROFILE=stochasticbytes
export DNSIMPLE_TOKEN=$(yq e ".dnsimple.api_token" secrets.dec.yaml)